<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Categorias Usuarios</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">

  <style>
    .container {
      max-width: 95%;
      margin-top: 30px;
      font-family: 'Nunito Sans', sans-serif;
    }
  </style>
</head>
<body>
<div class="container">
  <h1 class="mb-4">Lista de Categorias Usuarios</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="categoriausuario : ${categoriausuarios}">
      <td th:text="${categoriausuario.idCategoriaUsuario}"></td>
      <td th:text="${categoriausuario.nombreCategoriaUsuario}"></td>
      <td>
        <a class="btn btn-primary btn-sm" th:href="@{categoriausuarios/{id}/editar(id=${categoriausuario.idCategoriaUsuario})}">Editar</a>
        <a class="btn btn-danger btn-sm" th:href="@{categoriausuarios/{id}/borrar(id=${categoriausuario.idCategoriaUsuario})}">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-success" href="/categoriausuarios/nuevo">Crear Nueva Categoria</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>