<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesión</title>
</head>
<body>
<h2>Inicio de Sesión</h2>
<form action="/login" method="post">
    <div>
        <label for="nombreUsuario">Usuario:</label>
        <input type="text" id="nombreUsuario" name="nombreUsuario" required>
    </div>
    <div>
        <label for="contraseniaHash">Contraseña:</label>
        <input type="password" id="contraseniaHash" name="contraseniaHash" required>
    </div>
    <div>
        <button type="submit">Iniciar Sesión</button>
    </div>
</form>
</body>
</html>
